body {
  font-family: Helvetica, Arial, sans-serif;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 60%;
    padding-right: 10%;
    font-weight: bold;
}

h1{
    color: #028B71;
    font-size: 45px;
}
      
ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: rgb(110, 227, 27);
    text-decoration: none;
}

a:hover{
    color: #028B71;
}

.contenedor{
    width: 400px;
    margin-left: 60%;
    color: cadetblue;
}

h2{
    height: 50px;
    border-bottom: 10px solid rgb(110, 227, 27);
}

.resaltado {
  font-size: 1.2em;
  font-weight: bold;
}


#map-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

